{% extends "base.html" %}
{% block breadcrumbs %}
    <div class="container margin-top">
        <ol class="breadcrumb margin-bottom">
            <li><a href="{{ url_for('modules.dashboard') }}">Your Modules</a></li>
            <li><a href="{{ url_for('modules.module', id=lecture.module.id) }}">Module <strong>{{ lecture.module.name }}</strong></a></li>
            <li><a href="{{ url_for('lectures.lecture_list', module_id=lecture.module.id) }}">Lectures</a></li>
            <li class="active">Lecture <strong>{{ lecture.name }}</strong></li>
        </ol>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="page-header margin-top">Add content to lecture</h1>
        <p>Choose from the options below to add content to the lecture.</p>
        <p>The tag{{ 's' if lecture.tags.all() | length > 1 }} for this lecture {{ 'are' if lecture.tags.all() | length > 1 else 'is'}} {% for tag in lecture.tags.all() %} <strong>{{ tag.name }}</strong>{% if not loop.last %}, {% else %}. {% endif %}{% endfor %}</p>
        <div class="panel panel-default">
            <div class="panel-heading">Content options</div>
            <div class="panel-body">
                <a href="{{ url_for('lectures.add_text_content', lecture_id=lecture.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-italic"></span> Add text content
                </a>
                <a href="#" class="btn btn-success">
                    <span class="glyphicon glyphicon-play"></span> Add video content
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Words</div>
            <div class="panel-body">
                <p>You have added {{ lecture.words.all() | length }} words in this lecture.</p>
                <a href="{{ url_for('words.word_list', lecture_id=lecture.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-th-list"></span> View words
                </a>
                <a href="{{ url_for('words.new', lecture_id=lecture.id) }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Add word
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Support</div>
            <div class="panel-body">
                <p>You have added {{ lecture.quizzes.all() | length }} quizzes and {{ lecture.conversations.all() | length }} conversations to this lecture.</p>

                <a href="{{ url_for('quizzes.quiz_list', lecture_id=lecture.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-th-list"></span> View quizzes
                </a>
                <a href="{{ url_for('quizzes.new', lecture_id=lecture.id) }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Add quiz
                </a>
                <a href="{{ url_for('conversations.conversation_list', lecture_id=lecture.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-message"></span> View conversations
                </a>
                <a href="{{ url_for('conversations.new', lecture_id=lecture.id) }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Add conversation
                </a>
            </div>
        </div>
    </div>
{% endblock %}