{% macro render_lecture(lecture, reorder=False) %}
    <a href="{{ url_for('lectures.lecture', lecture_id=lecture.id) }}" id="{{ lecture.id }}" class="list-group-item">
        <h4 class="list-group-item-heading">
            {% if reorder %}
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            {% endif %}
            {{ lecture.name }}
        </h4>
        <p class="list-group-item-text">{{ lecture.description }}</p>
    </a>
{% endmacro %}

{% macro render_lecture_content(lecture) %}
    <div id="lectureContent">
        {% if lecture.content.type == 'html' %}
            {{ lecture.content.text | safe }}
        {% elif lecture.content.type == 'video' %}
            <p>This lecture is a video, but we don't support video yet!</p>
        {% else %}
            <p>Lecture content not supported</p>
        {% endif %}
    </div>
{% endmacro %}