.profile {
    margin-top: 50px;
}

.profile .panel {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.panel-background {
    background-color: #3498DB;
    color: #ffffff;
}

.profile .panel-heading {
    background-color: #3498DB;
    border-bottom: none;
    font-size: 30px;
    color: #ffffff;
    font-weight: 300;
}

.profile .panel-background .list-group-item {
    background-color: #3498DB;
    color: #ffffff;
    z-index: 2;
}

.profile .list-group-item {
    border: none;
}

.profile .panel-background .list-group-item:nth-child(4n + 1) {
    background-color: #3293d3;
    border-bottom: none;
    color: #ffffff;
    z-index: 2;
}

.profile .panel-background .list-group-item:hover {
    background-color: #2f8bc8;
    cursor: pointer;
}

.profile .panel-background .list-group-item.pending-friend {
    background-color: #db7c5c;
}

.profile .panel-background .list-group-item.pending-friend:hover {
    background-color: #be6b51;
}

.profile .panel-background .list-group-item.pending-friend .badge {
    margin-top: 2px;
    background-color: #be6b51;
}

.profile .panel-background .list-group-item.pending-friend:hover .badge {
    background-color: #a95f48;
}

.profile .panel-footer {
    background-color: #3498DB;
}

.profile .panel-lectures {
    border: 1px solid #d5d5d5;
}

.profile .panel-lectures .panel-body {
    padding: 15px 0 10px 30px;
    font-size: 120%;
}

.profile .panel-lectures .list-group-item {
    padding: 20px 30px 20px 30px;
    margin: 5px 0;
    font-size: 120%;
}

.profile .panel-lectures>.list-group:last-child .list-group-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.profile .panel-lectures .complete {
    background-color: #A6E4D1;
}

.profile .panel-lectures .complete:hover {
    background-color: #7FD8BD;
}

.profile .panel-lectures .incomplete {
    background-color: #B8DBF2;
}

.profile .panel-lectures .incomplete:hover {
    background-color: #99CBED;
}

.profile .panel-lectures .locked.incomplete {
    background-color: #df6c5b;
    color: #ffffff;
}

.profile .panel-lectures .locked.incomplete:hover {
    background-color: #bc4544;
}

.profile .panel-lectures .list-group-item .badge {
    background-color: transparent;
    font-size: 150%;
    margin-top: -5px;
}

.profile .panel-lectures .complete .badge {
    color: #00B27C;
}


.profile .panel-lectures .incomplete .badge {
    color: #3498DB;
}

.profile .panel-lectures .locked.incomplete .badge {
    color: #a42427;
}


.profile .panel-lectures .list-group-item .label {
    padding: 3px 4px;
    margin-bottom: 3px;
}

.profile .panel-experience .panel-body {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.profile .progress-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.profile .list-group-item .pointer {
    position: absolute;
    bottom: 0;
    font-size: 65%;
    left: 25px;
}

.profile .panel-background .white {
    background-color: #ffffff;
    border-left: 1px solid #3498DB;
    border-right: 1px solid #3498DB;
    z-index: 1;
}

.profile .panel-background .list-group-item.white:hover {
    background-color: #ffffff;
    cursor: inherit;
}

.profile .panel-background .show {
    animation: expand 0.4s ease-out;
}

@keyframes expand {
    0% {
        margin-top: -2.8em;
    }
    100% {
        margin-top: 0;
    }
}

.profile .panel-background .retract {
    margin-top: -2.8em;
    animation: retract 0.4s ease-in;
}

.profile .panel-background .retracted {
    margin-top: -2.8em;
}

@keyframes retract {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -2.8em;
    }
}

.profile .panel-background .list-group-item.white a {
    padding: 2px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.panel-notifications {
    position: relative;
}

.panel-notifications #clearAll {
    position: absolute;
    top: 10px;
    right: 10px;
}