.navbar {
    background-color: #3498DB;
    height: 70px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-header {
    height: 62px;
}

.navbar-header .navbar-brand {
    color: #ebebeb;
}

.navbar-collapse.collapse.in {
    background-color: #3498DB;
}

.navbar-collapse.collapsing {
    background-color: #3498DB;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ebebeb;
}

.navbar .container {
    padding-top: 8px;
    padding-bottom: 10px;
}

.navbar-nav.nav li a {
    text-transform: uppercase;
    color: #ebebeb;
}

.background {
    background-color: #3498DB;
}

.center-vertical {
    margin: auto;
}

.jumbotron {
    text-align: center;
    min-height: 560px;
    display: flex;
    align-items: center;
}

.jumbotron h1 {
    color: #ebebeb;
    font-size: 2em;
    font-weight: 300;
}

.jumbotron .btn {
    border-radius: 25px;
    font-size: 12px;
    background-color: #ebebeb;
    border: 0;
    padding: 15px 50px;
    margin-top: 10px;
}

.jumbotron .btn:hover {
    background-color: #dfdfdf;
}

.jumbotron .btn{
    color: #000000;
}

.form {
    max-width: 480px;
    margin: 80px auto;
}

form label {
    color: #ebebeb;
    text-transform: uppercase;
    font-weight: 300;
}

.form a {
    color: #ebebeb;
    text-decoration: underline;
}

.form .btn {
    border-radius: 25px;
    background-color: #ebebeb;
    border: 0;
    color: #000000;
    padding: 10px 35px;
    margin-top: 10px;
}

.form .btn:hover {
    background-color: #dfdfdf;
}

.sign-up-title {
    color: #ebebeb;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 auto 50px auto;
}

.gray-background {
    background-color: #EBEBEB;
}

.resource {
    padding: 25px;
    font-weight: 300;
    font-size: 100%;
    line-height: 1.1em;
}

@media (max-width: 640px) {
    .resource {
        font-size: 85%;
        line-height: 1em;
    }

    .resource i {
        font-size: 150%;
    }
}

