.navbar {
    background-color: #3498DB;
    height: 70px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-header {
    height: 62px;
}

.navbar-header .navbar-brand {
    color: #ebebeb;
}

.navbar-collapse.collapse.in {
    background-color: #3498DB;
}

.navbar-collapse.collapsing {
    background-color: #3498DB;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ebebeb;
}

.navbar .container {
    padding-top: 8px;
    padding-bottom: 10px;
}

.navbar-nav.nav li a {
    text-transform: uppercase;
    color: #ebebeb;
}

.background {
    background-color: #3498DB;
}

.center-vertical {
    margin: auto;
}

.jumbotron {
    text-align: center;
    min-height: 560px;
    display: flex;
    align-items: center;
}

.jumbotron h1 {
    color: #ebebeb;
    font-size: 2em;
    font-weight: 300;
}

.jumbotron .btn {
    border-radius: 25px;
    font-size: 12px;
    background-color: #ebebeb;
    border: 0;
    padding: 15px 50px;
    margin-top: 10px;
}

.jumbotron .btn:hover {
    background-color: #dfdfdf;
}

.jumbotron .btn{
    color: #000000;
}

.form {
    max-width: 480px;
    margin: 80px auto;
}

form label {
    color: #ebebeb;
    text-transform: uppercase;
    font-weight: 300;
}

.form a {
    color: #ebebeb;
    text-decoration: underline;
}

.form .btn {
    border-radius: 25px;
    background-color: #ebebeb;
    border: 0;
    color: #000000;
    padding: 10px 35px;
    margin-top: 10px;
}

.form .btn:hover {
    background-color: #dfdfdf;
}

.sign-up-title {
    color: #ebebeb;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 auto 50px auto;
}

.gray-background {
    background-color: #EBEBEB;
}

.resource {
    padding: 25px;
    font-weight: 300;
    font-size: 100%;
    line-height: 1.1em;
}

@media (max-width: 640px) {
    .resource {
        font-size: 85%;
        line-height: 1em;
    }

    .resource i {
        font-size: 150%;
    }
}

.margin-bottom {
    margin-bottom: 25px;
}

.margin-top {
    margin-top: 25px;
}

h3 {
    font-size: 2em;
    font-weight: 100;
}

.label {
    font-size: 0.65em;
}

.profession-image {
    max-height: 100%;
    width: auto;
    padding: 0;
    margin-left: 15px;
}

.investment {
    margin: 0;
    padding: 10px;
    height: 150px;
}

.dialog-amount {
    color: #00B27C;
}

span.cost {
    font-size: 80%;
    margin-left: 15px;
}

span.profession {
    font-size: 110%;
}

span.generates {
    margin-top: 5px;
}

.gold-amount {
    color: #FFD409;
    font-weight: bold;
}

div.train-button {
    margin-top: 50px;
}

a.train-button {
    background-color: #00B27C;
    padding: 4px 25px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 1px 2px 1px #c5c5c5;
    text-decoration: none;
}

a.train-button:hover {
    background-color: #00a372;
}

.text-center {
    text-align: center;
}

.lecture-section-order-container {
    display: flex;
    align-items: center;
    height: 125px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 15px;
}

.lecture-section-order {
    font-size: 125%;
}

#all-investments {
    text-decoration: underline;
    color: #3498DB;
    margin-top: 10px;
}

p.help {
    color: #d5d5d5;
}

.question-form {
    min-width: 120px;
    max-width: 360px;
}

.email-search {
    padding: 10px;
    font-size: 130%;
    border: 2px solid #d5d5d5;
    border-radius: 4px;
}

.email-search:focus {
    border: 2px solid #3498DB;
    outline: none;
}

.email-help {
    font-size: 120%;
}

.navbar-brand img {
    max-width: 180px;
    border: 2px solid #ffffff;
    padding: 3px 5px;
    border-radius: 5px;
    margin-top: -18px;
}

.navbar-brand img:hover {
    background-color: #328fcf;
}

#notificationMenu {
    position: relative;
}

#notifications {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #ce2e30;
    color: #ffffff;
    padding: 0 4px;
    border-radius: 5px;
    font-size: 75%;
}

#notificationMenu:hover #notifications {
    background-color: #b3282a;
}

.confirm {
    color: #ffffff;
}

.navbar {
    z-index: 100;
}