{% macro render_field(field, horizontal=False) %}
    <div class="form-group">
        {{ field.label(class='col-sm-3 control-label') }}
        {% if field.errors %}
            {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
            {% if horizontal %}
                <div class="col-sm-9">
                    {{ field(class=css_class, **kwargs) }}
                </div>
            {% else %}
                {{ field(class=css_class, **kwargs) }}
            {% endif %}
            <ul class="errors">{% for error in field.errors %}
                <li>{{ error|e }}</li>{% endfor %}</ul>
        {% else %}
            {% if horizontal %}
                <div class="col-sm-9">
                    {{ field(**kwargs) }}
                </div>
            {% else %}
                {{ field(**kwargs) }}
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_checkbox(field, horizontal=False) %}
    <div class="form-group">
        {% if field.errors %}
            {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
            {% if horizontal %}
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            {{ field(**kwargs) }}
                        </label>
                    </div>
                </div>
            {% else %}
                {{ field(class=css_class, **kwargs) }}
            {% endif %}
            <ul class="errors">{% for error in field.errors %}
                <li>{{ error|e }}</li>{% endfor %}</ul>
        {% else %}
            {% if horizontal %}
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            {{ field(**kwargs) }} {{ field.label.text }}
                        </label>
                    </div>
                </div>
            {% else %}
                {{ field(**kwargs) }}
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_search_field(field) %}
    <div class="form-group">
        {% if field.errors %}
            {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
            {{ field(class=css_class, **kwargs) }}
            <ul class="errors">{% for error in field.errors %}
                <li>{{ error|e }}</li>{% endfor %}</ul>
        {% else %}
            {{ field(**kwargs) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_large_field(field) %}
    <div class="form-group">
        {% if field.errors %}
            {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
            {{ field(class=css_class, **kwargs) }}
            <ul class="errors">{% for error in field.errors %}
                <li>{{ error|e }}</li>{% endfor %}</ul>
        {% else %}
            {{ field(**kwargs) }}
        {% endif %}
    </div>
{% endmacro %}