{% extends 'base.html' %}
{% from "forms/macros.html" import render_search_field %}
{% block content %}
    <div class="container">
        <h1>Word list for '{{ module.name }}'</h1>
        <form method="POST" class="form-inline margin-bottom" role="search">
            {{ form.csrf_token }}
            {{ render_search_field(form.term, placeholder="Search", class="input text form-control") }}
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <div class="list-group">
            {% if words %}
                {% for word in words %}

                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ word.name }}{% for tag in word.tags %}
                            <span class="label label-default">{{ tag.name }}</span>{% endfor %}</h4>
                        <p class="list-group-item-text">Meaning: <strong>{{ word.meaning }}</strong></p>
                    </a>

                {% endfor %}
            {% else %}
                {% for word in module.words %}

                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ word.name }}{% for tag in word.tags %}
                            <span class="label label-default">{{ tag.name }}</span>{% endfor %}</h4>
                        <p class="list-group-item-text">Meaning: <strong>{{ word.meaning }}</strong></p>
                    </a>

                {% endfor %}
            {% endif %}
        </div>

        <a href="{{ url_for('words.new', module_id=module.id) }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Add word
        </a>
    </div>
{% endblock %}