{% extends 'base.html' %}
{% from 'forms/macros.html' import render_large_field %}
{% from 'utils.html' import render_messages %}
{% block content %}
    <div>
        <div class="container">
            {{ render_messages() }}
            <h2 class="page-header margin-bottom">Challenge {{ challenged_user.email }}</h2>
            <p class="email-help">If you win, you'll take home double the wager. If you lose... you'll never see it
                again.</p>
            <form method="POST">
                {{ form.csrf_token }}
                {{ render_large_field(form.wager, class='email-search', value='5', placeholder='5') }}
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Challenge
                </button>
            </form>
        </div>
    </div>
{% endblock %}