{% extends "base.html" %}
{% block dependencies %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content-tools.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lectures/content/text_content.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="page-header">{{ 'Adding' if not lecture.content else 'Editing' }} text content</h1>
        <div id="editable" data-editable data-name="main-content">
            <p>{{ lecture.content.text | safe if lecture.content else "Press the pencil icon at the top left of this page to start editing!" }}</p>
        </div>

        <div class="panel panel-default margin-top">
            <div class="panel-heading">Actions</div>
            <div class="panel-body">
                <a href="{{ url_for('lectures.lecture_list', module_id=module.id) }}" class="btn btn-warning"><span
                        class="glyphicon glyphicon-arrow-left"></span> Back to lecture list</a>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/content-tools/content-tools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/content-tools/editor.js') }}"></script>
{% endblock %}