{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>You are a module creator!</h1>
        {% for module in modules %}
            <div class="list-group">
                <a href="{{ url_for('modules.module', id=module.id) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ module.name }}</h4>
                    {% set students = module.students | length %}
                    <p class="list-group-item-text">This course is {{ 'public' if module.public else 'private' }}.
                    {% if students > 1 %}
                    There are {{ students }} registered students.
                    {% else %}
                    There is {{ students }} registered student.
                    {% endif %}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}