{% macro render_module(module) %}
    <a href="{{ url_for('modules.module', id=module.id) }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ module.name }}</h4>
        <p class="list-group-item-text">This module is <strong>{{ 'public' if module.public else 'private' }}</strong>.
            {{ render_students_registered(module.students | length) }}
        </p>
    </a>
{% endmacro %}

{% macro render_students_registered(students) %}
    {% if students > 1 %}
        There are {{ students }} registered students in this module.
    {% else %}
        There is {{ students }} registered student in this module.
    {% endif %}
{% endmacro %}

{% macro render_section(lecture) %}
    {% if lecture %}
        <h3 class="margin-bottom">Next lecture</h3>
        {{ render_lecture(lecture) }}
    {% else %}
        <h3 class="margin-bottom text-center">There's no next lecture available in this module!</h3>
    {% endif %}
{% endmacro %}

{% macro render_lecture(lecture) %}
    <div class="row gray-background investment">
        <div class="col-xs-3 col-md-2 col-lg-2 lecture-section-order-container">
            <div class="lecture-section-order">
                <div class="row text-center">
                    Next lecture
                </div>
                <div class="row text-center">
                    <strong>{{ lecture.order + 1 }}</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-md-10 col-lg-10">
            <div class="row">
                <span class="profession">{{ lecture.name }}</span>
            </div>
            <div class="row">
                <span class="generates">{{ lecture.description }}</span>
            </div>
            <div class="train-button row">
                <a class="train-button" href="{{ url_for('lectures.study_lecture', lecture_id=lecture.id) }}">review</a>
            </div>
        </div>
    </div>
{% endmacro %}