{% extends 'base.html' %}
{% from "modules/macros.html" import render_students_registered %}
{% block breadcrumbs %}
    <div class="container margin-top">
        <ol class="breadcrumb margin-bottom">
            <li><a href="{{ url_for('modules.dashboard') }}">Your Modules</a></li>
            <li class="active">Module <strong>{{ module.name }}</strong></li>
        </ol>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="page-header">Module '{{ module.name }}'</h1>
        {% if module.owner.email == g.user.email %}
            <p>{{ render_students_registered(module.students | length) }}</p>

            <div class="panel panel-default">
                <div class="panel-heading">Lectures</div>
                <div class="panel-body">
                    <p>You have added {{ module.lectures.all() | length }} lectures to this module.</p>

                    <a href="{{ url_for('lectures.lecture_list', module_id=module.id) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list"></span> View lectures
                    </a>
                    <a href="{{ url_for('lectures.new', module_id=module.id) }}" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span> Add lecture
                    </a>
                </div>
            </div>
        {% else %}
            {% if user_already_enrolled %}
                <p>You are already enrolled in this module!</p>
            {% else %}
                <p>There are {{ module.lectures.all() | length }} lectures in this module.</p>

                <a href="{{ url_for('modules.activate', module_id=module.id) }}" class="btn btn-success">
                    <span class="glyphicon glyphicon-log-in"></span> Join {{ module.students | length }} other students!
                </a>
            {% endif %}
            <a href="{{ url_for('lectures.lecture_list', module_id=module.id) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span> View lectures
            </a>
        {% endif %}
    </div>
{% endblock %}