{% extends 'base.html' %}
{% from 'utils.html' import render_messages %}

{% block content %}
    {{ render_messages(background=True) }}
<div class="jumbotron background">
    <div class="center-vertical">
        <h1>Learn, challenge, and bet with your friends!</h1>
        {% if g.user %}
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('users.profile') }}" role="button">KEEP LEARNING</a></p>
        {% else %}
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('users.register') }}" role="button">GET STARTED</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}