{% if g.user %}
    {% set notifications = g.user.unread_notifications.count() %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    Build to Learn
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user.email in config.ADMINS %}
                        <li><a href="{{ url_for('modules.dashboard') }}">Create Module</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('users.profile') }}">Keep learning</a></li>
                    <li><a href="{{ url_for('users.notifications') }}" id="notificationMenu">{% if notifications > 0 %}<span id="notifications">{{ notifications }}</span>{% endif %}Notifications</a></li>
                    <li><a href="#"> <i class="fa fa-trophy fa-lg" style="color: #FFD409"></i> <span id="userGold">{{ g.user.gold }}</span></a></li>
                    <li><a href="{{ url_for('users.logout') }}">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Build to Learn</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('users.register') }}">Sign up</a></li>
                    <li><a href="{{ url_for('users.login') }}">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}