{% macro render_module_experience_progress_bar(active_module, color) %}
    {{ render_progress_bar(active_module.starting_experience_for_current_level(), active_module.experience, active_module.next_level_experience(), color) }}
{% endmacro %}

{% macro render_progress_bar(start, current, end, color) %}
    <div class="progress" style="height: 2em;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ current }}"
             aria-valuemin="{{ start }}" aria-valuemax="{{ end }}"
             style="width: {{ (current / end * 100) | int }}%; min-width: 1em; background-color: {{ color }};">
            <span class="sr-only">{{ (current / end * 100) | int }}% Complete</span>
        </div>
    </div>
{% endmacro %}

{% macro render_increase(quantity) %}
    {% if quantity %}
        {% if quantity > 0 %}
            <span style="color: #00B27C">
                {{ '(+{})'.format(quantity) }}
            </span>
        {% elif quantity < 0 %}
            <span style="color: #AC1A0D">
                {{ '({})'.format(quantity) }}
            </span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_friends_list(user) %}
    <div class="panel panel-default">
        <div class="panel-heading">Friends</div>
        {% if user.friends.count() == 0 and user.pending_friendships() | length == 0 %}
            <div class="panel-body panel-background">You're all by yourself! Why not add some friends?</div>
        {% else %}
            <div class="list-group panel-background">
                {% for friend in user.friends %}
                    <div class="list-group-item"
                         onclick="showControls(this)">
                        {{ friend.email }}
                    </div>
                    <div class="list-group-item white retracted">
                        <a href="{{ url_for('users.view', user_id=friend.id) }}" class="btn btn-default btn-sm"><span
                                class="fa fa-eye"></span> View</a>
                        <a href="{{ url_for('challenges.do_challenge', user_id=friend.id) }}"
                           class="btn btn-default btn-sm"><span
                                class="fa fa-gamepad"></span> Challenge</a>
                        <a href="{{ url_for('users.view', user_id=friend.id) }}" class="btn btn-danger btn-sm"
                           disabled="disabled"><span class="fa fa-ban"></span> Unfriend</a>
                    </div>
                {% endfor %}
                {% for pending_friendship in user.pending_friendships() %}
                    <a class="list-group-item pending-friend"
                       href="{{ url_for('users.confirm_friend_request', friend_request_id=pending_friendship.id) }}">
                        <span class="badge">Click to confirm</span>
                        {{ pending_friendship.user.email }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="panel-footer"><a class="btn btn-success btn-sm" href="{{ url_for('users.add_friend_form') }}"><span
                class="glyphicon glyphicon-plus"></span> Add friend</a></div>
    </div>
{% endmacro %}

{% macro render_experience_panel(active_module) %}
    <div class="panel panel-default panel-experience">
        <div class="panel-heading">Performance</div>
        <div class="panel-body panel-background">
            {{ render_module_experience_progress_bar(active_module, '#00B27C') }}
            <p>Currently at level <strong>{{ active_module.level }}</strong>!</p>
            <p>Earn <strong>{{ active_module.next_level_experience() - active_module.experience }}
                experience</strong> to get to the next level.</p>
        </div>
    </div>
{% endmacro %}

{% macro render_profile_lecture_list(module, completed_lectures, unlocked_lectures) %}
    <div class="panel panel-default panel-lectures">
        <div class="panel-heading">Lectures</div>
        {% if module.lectures.count() == 0 %}
            <div class="panel-body">There aren't any lectures yet.</div>
        {% else %}
            <div class="panel-body">Below are the lectures in this module.</div>
            <div class="list-group">
                {% for lecture in module.lectures %}
                    {% set completed = lecture in completed_lectures %}
                    {% set unlocked = lecture in unlocked_lectures %}
                    {% set css_class = 'complete' if complete else 'incomplete' %}
                    {% set css_class = css_class + ' unlocked' if unlocked else css_class + ' locked' %}

                    <a class="list-group-item {{ css_class }}"
                       href="{{ url_for('lectures.study_lecture', lecture_id=lecture.id) if unlocked else url_for('lectures.view_unlock', lecture_id=lecture.id) }}">
                        <span class="badge">
                            {% if unlocked %}
                                <span class="glyphicon glyphicon-{{ 'ok' if completed else 'play' }}"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-lock"></span>
                            {% endif %}
                        </span>
                        <span><strong>Lecture {{ loop.index }}</strong>: {{ lecture.name }}</span>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro notification_age_string(notification) %}
    {% set age = notification.age %}
    {% if age['days'] > 0 %}
        {{ age['days'] }} days ago
    {% elif age['hours'] > 0 %}
        {{ age['hours'] }} hours ago
    {% elif age['minutes'] > 0 %}
        {{ age['minutes'] }} minutes ago
    {% else %}
        {{ age['seconds'] }} seconds ago
    {% endif %}
{% endmacro %}

{% macro render_notifications_list(notifications) %}
    <div class="panel panel-default panel-notifications">
        <a id="clearAll" href="{{ url_for('users.clear_all') }}" class="btn btn-info btn-sm"><span
                class="glyphicon glyphicon-trash"></span> Clear all</a>
        <div class="panel-heading">Notifications</div>
        {% if notifications.count() == 0 %}
            <div class="panel-body panel-background">No new notifications.</div>
        {% else %}
            <div class="list-group panel-background">
                {% for notification in notifications %}
                    <div class="list-group-item notification-{{ notification.type }}">
                        <a href="{{ url_for('users.delete_notification', notification_id=notification.id) }}"><span
                                class="fa fa-trash"></span></a> {{ notification.name }} <span class="badge">{{ notification_age_string(notification) }}</span>
                    </div>

                {% endfor %}
            </div>
        {% endif %}
        <div class="panel-footer"></div>
    </div>
{% endmacro %}

{% macro render_pending_challenges(notifications) %}
    <div class="panel panel-default">
        <div class="panel-heading">Challenges</div>
        {% if notifications.count() == 0 %}
            <div class="panel-body panel-background">No new notifications.</div>
        {% else %}
            <div class="list-group panel-background">
                {% for notification in notifications %}
                        <div class="list-group-item notification-{{ notification.type }}"
                             onclick="showControls(this)">
                            {{ notification.name }} <span
                                class="badge">{{ notification_age_string(notification) }}</span>
                        </div>
                        <div class="list-group-item white retracted">

                            <a href="{{ url_for('challenges.respond_challenge', challenge_id=notification.data) }}"
                               class="btn btn-default btn-sm"><span class="fa fa-gamepad"></span> Respond to
                                challenge</a>
                            <a href="{{ url_for('users.delete_notification', notification_id=notification.id) }}"
                               class="btn btn-danger btn-sm"><span
                                    class="fa fa-trash"></span> Delete</a>
                        </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="panel-footer"><a class="btn btn-danger btn-sm" href="#"><span
                class="glyphicon glyphicon-fire"></span> Challenge a friend</a></div>
    </div>
{% endmacro %}