{% macro render_progress_bar(start, current, end, color) %}
    <div class="progress" style="height: 2em;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ current }}" aria-valuemin="{{ start }}" aria-valuemax="{{ end }}"
             style="width: {{ (current / end * 100) | int }}%; min-width: 2em; background-color: {{ color }};">
            <span class="sr-only">{{ (current / end * 100) | int }}% Complete</span>
        </div>
    </div>
{% endmacro %}

{% macro render_increase(quantity) %}
    {% if quantity %}
        {% if quantity > 0 %}
            <span style="color: #00B27C">
                {{ '(+{})'.format(quantity) }}
            </span>
        {% elif quantity < 0 %}
            <span style="color: #AC1A0D">
                {{ '({})'.format(quantity) }}
            </span>
        {% endif %}
    {% endif %}
{% endmacro %}