{% extends 'base.html' %}
{% from "users/macros.html" import render_resource %}
{% from "modules/macros.html" import render_section %}
{% block content %}
    <div>
        <div class="container">
            <h2 class="page-header margin-bottom">Welcome back, chief!</h2>
            <div class="row">
                <div class="col-xs-offset-0 col-md-offset-2 col-lg-offset-2 col-xs-4 col-md-3 col-lg-3">{{ render_resource('GOLD', city.gold, '#FFD409', 6) }}</div>
                <div class="col-xs-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-4 col-md-3 col-lg-3">{{ render_resource('DIALOG', city.dialog, '#00B27C', -3) }}</div>
                <div class="col-xs-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-4 col-md-3 col-lg-3">{{ render_resource('EXPERIENCE', city.experience, '#3498DB') }}</div>
            </div>

            {{ render_section(next_lecture, g.user.gamified) }}
            <div class="text-center"><a href="{{ url_for('lectures.lecture_list', module_id=city.module.id) }}" id="all-investments">View all {{ "investments" if g.user.gamified else "lectures" }}</a></div>
        </div>
    </div>
{% endblock %}