{% extends 'base.html' %}
{% from "users/macros.html" import render_experience_panel, render_friends_list, render_profile_lecture_list %}
{% block dependencies %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    {{ render_profile_lecture_list(active_module.module, completed_lectures) }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    {{ render_experience_panel(active_module) }}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                    {{ render_friends_list(g.user) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}